<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoTyper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClipboardTyper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AutoTyper.Properties.Settings>
            <setting name="AutoTypeDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CharTypeDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TurboTypeChk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortCutKeyboardChk" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoTyper.Properties.Settings>
        <ClipboardTyper.Properties.Settings>
            <setting name="AutoTypeDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CharTypeDelay" serializeAs="String">
                <value>50</value>
            </setting>
        </ClipboardTyper.Properties.Settings>
    </userSettings>
</configuration>
